@font-face {
    font-family: 'Inter';
    src: local('Inter'), /* загрузка быстрее, если установлен у пользователя */
       url(./Inter-Variable.woff2) format('woff2 supports variations'),
        url(./Inter-Variable.woff2) format('woff2-variations');
    font-weight: 400 700 785;
    font-display: swap; /* мгновенная отрисовка шрифта */
}

@font-face {
    font-family: 'PressStart2P';
    src: local('PressStart2P'), url(./PressStart2P-Regular.woff) format('woff');
    font-weight: 400;
    font-display: swap;
}
