/* Светлая тема */
:root.theme-light {
  --bg-image: 
      repeating-linear-gradient(
        to right, 
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ), 
      repeating-linear-gradient(
        to bottom, 
        #d3d3d3 0,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(
        to bottom,
        #e7e7e7 0.01%,
        #1a1a1a
      );
  --button-text-color: #fff;
  --card-title-font-weight: 700;
  --bg-color: #fff;
  --heart-hover: #000;
  --main-color: #000;
  --card-font-weight: 400;
}

/* Темная тема */
:root.theme-dark {
  --bg-image: 
      repeating-linear-gradient(
        to right, 
        #000 0,
        #000 2px,
        transparent 2px,
        transparent 4px
      ), 
      repeating-linear-gradient(
        to bottom, 
        #000 0,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(
        to bottom,
        #007f0c 0.01%,
        #004306
      );
  --button-text-color: #00CC14;
  --card-title-font-weight: 785;
  --bg-color: #000;
  --heart-hover: #00CC14;
  --main-color: #00CC14;
  --card-font-weight: 465;
}

/* Автоматическая тема (prefers-color-scheme) */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: 
      repeating-linear-gradient(
        to right, 
        #000 0,
        #000 2px,
        transparent 2px,
        transparent 4px
      ), 
      repeating-linear-gradient(
        to bottom, 
        #000 0,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(
        to bottom,
        #007f0c 0.01%,
        #004306
      );
    --button-text-color: #00CC14;
    --card-title-font-weight: 785;
    --bg-color: #000;
    --heart-hover: #00CC14;
    --main-color: #00CC14;
    --card-font-weight: 465;
  }
}
